<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--왜 있는지 모름-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>페이컴스 - 차세대체불방지시스템</title>
</head>

<body class="d-flex text-center text-white bg-light">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="w-100 bg-light" style="height:100px;">
            <div class="container-fluid text-center" style="height:inherit">
                <div class="row" style="height:inherit">
                    <div class="col-4 col-lg-2" style="height:inherit;">
                        <div class="d-flex justify-content-end align-items-center" style="height: inherit">
                            <div class="header-logo">
                                <a href="/">
                                    <p>대금지급확인시스템 전문기업</p>
                                    <img alt="logo" height="29" src="img/logo.png">
                                    <p>Payment Communications</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 col-lg-10" style="height:inherit">
                        <div class="d-flex justify-content-center align-items-center" style="height: inherit;">
                            <nav class="navbar navbar-expand-lg justify-content-end bg-body-tertiary" style="height: 90%; width: 60%">

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle p-3" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                회사안내
                                            </a>
                                            <ul class="dropdown-menu" style="background-color:#333333">
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">기업소개</a></li>
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">찾아오는길</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle p-3" href="#" role="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                서비스 이용하기
                                            </a>
                                            <ul class="dropdown-menu" style="background-color:#333333">
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">발주기관</a></li>
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">원도급자</a></li>
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">하도급자</a></li>
                                                <li><a class="dropdown-item" style="color:#bbb" href="#">CleanPay
                                                        사용하기</a></li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link p-3" href="#">고객사/관곅사</a>
                                        </li>
                                    </ul>
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <main class="bg-dark w-100 h-100"></main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>