html{
    scroll-behavior:smooth;
}

body{
    font-family: 'NS';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    height: 100vh;
}

body p{
    font-family: 'NS400';
}

.header-logo p{
    font-size: 9px;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    color: #bbb;
    margin-bottom: 4px;
}
.header-logo p:last-child {
    font-size: 9px;
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    color: #bbb;
    margin-top: 2px;
    letter-spacing: 0.6px;
}
.header-logo a {text-decoration: none;}

#header {
    background-color: #f1f1f1; /* Grey background */
    text-align: center; /* Centered text */
     /* Big font size 삭제*/
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

#header .header-logo {
	position: relative;
	z-index: 1;
}

#header .header-logo img {
	transition: all 0.3s ease;
	position: relative;
	top: 0;
}
